*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    height: 70px;
    background-color: darkgray;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header img{
    width: 70px;
    height: 70px;
    margin-right: 10px;
}
#header h1{
    line-height: 70px;
}
#banner{
    padding: 10px;
}
#banner img{
    width: 100%;
    max-width: 800px;
    margin: auto;
    display: block;
    }
#banner p{
    text-align: justify;
    margin-top: 20px;
}
.side-bar{
    width: 20%;
    background-color:darkgrey;
    height: 100%;
    top:70px;
    position: fixed;
}
.side-bar ul{
    width: 100%;
}
.side-bar ul li{
    margin-bottom: 10px;
}
.side-bar ul li a{
    color: white;
    text-decoration: none;
    font-size: 30px;
}
.container{
    width: 100%;
}